<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table id="orders">
  <thead>
    <tr>
      <th>Name</th>
      <th>Pay scale</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= number_to_currency employee.pay_scale %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>



<style>
  #orders {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  /*border*/
  #orders td, #orders th {
    border: 1px solid #ddd;
    border-color: black;
    padding: 8px;
  }
  /*table row*/
  #orders tr:nth-child(even){background-color: #FFFACD;}
  #orders tr:nth-child(odd){background-color: #F5DEB3;}

  /*hover*/
  #orders tr:hover {background-color: #FFFAFA;}

  /*table header*/
  #orders th {
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left;
    background-color: #708090;
    color: white;
  }
</style>