<p id="notice"><%= notice %></p>

<h3>Employees</h3>

<table class="table">
  <thead class="thead1">
    <tr>
      <th>Name</th>
      <th>Pay Scale</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= number_to_currency employee.pay_scale %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button id="new">New Employee</button>'.html_safe, new_employee_path %>




<p id="notice"><%= notice %></p>