<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Pay scale:</strong>
  <%= number_to_currency (@employee.pay_scale) %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>


<style>
  a:visited {
    color: yellow;
  }
</style>