<%= form_with(model: order, local: true) do |form| %>
    <% if order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
            <% order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :order_name %>
    </div>

  <div class="field">
    <p>Choose the items for your order:</p>
    <%= form.fields_for :order_items do |item|%>
      <p>
        <%= item.collection_select :product_id, Product.all,:id,:name %>
      </p>
    <% end %>
  </div>

<!--  <p>Choose the items for your order:</p>-->
  <%#= form.fields_for :order_items do |form|%>
<!--    <div>-->
      <%#= form.collection_select :product_id, Product.all,:id,:name %>
<!--    </div>-->
  <%# end %>
  <%# form_for @order do |f| %>
<!--    Items:-->
<!--    <ul>-->
      <%#= f.fields_for :menu do |items_form|%>
<!--        <li>-->
          <%#= items_form.label :name %>
          <%#= items_form.text_field :name %>
          <%#= items_form.label :price %>
          <%#= items_form.text_field :price %>

<!--        </li>-->
      <%#end %>
<!--    </ul>-->
  <%#end %>
  <br>

    <!--<div class="field">-->
      <!--<p>Choose the items for your order:</p>-->
      <!--<%= form.fields_for :products do |item|%>-->
          <!--<p>-->
            <!--<%= item.collection_select :product_id, Product.all,:id,:name %>-->
          <!--</p>-->
      <!--<% end %>-->
    <!--</div>-->

    <div class="actions">
      <%= form.submit nil, :class => 'submit' %>
    </div>


<% end %>