<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table id="orders">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sub total</th>
      <th>Tax</th>
      <th>Total amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= number_to_currency order.sub_total %></td>
        <td><%= number_to_currency order.tax %></td>
        <td><%= number_to_currency order.total_amount %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>



<p id="notice"><%= notice %></p>



<style>
  #orders {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: black;
  }

  /*border*/
  #orders td, #orders th {
    border: 1px solid #ddd;
    border-color: black;
    padding: 8px;

  }
  /*table row*/
  #orders tr:nth-child(even){background-color: #6A5750;}
  #orders tr:nth-child(odd){background-color: #B5A397;}

  /*hover*/
  #orders tr:hover {background-color: #FFFAFA;}

  /*table header*/
  #orders th {
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left;
    background-color: #30231D;
    color: white;
  }

   a:visited {
     color: white;
   }
</style>
