<p id="notice"><%= notice %></p>
<h3>Order</h3>

<div class="box">

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Sub total:</strong>
  <%= number_to_currency(@order.sub_total) %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= number_to_currency(@order.total_amount) %>
</p>

<p>
  <strong>Tax:</strong>
  <%= number_to_currency(@order.tax) %>
</p>

<br>
<%= link_to '<button id="new"> Edit </button>' .html_safe, edit_order_path(@order) %> &nbsp;&nbsp;&nbsp;
<%= link_to '<button id="new"> Back </button>' .html_safe, orders_path %>
</div>>