<br>
<h3>Sales</h3>

<span class="report">
    <p><b>Search attendances in date range</b></p>
    <b>Start Date </b><%= date_field_tag "start_date", params[:start_date], :class => "date" %>
  <b>End Date </b><%= date_field_tag "end_date", params[:end_date], :class => "date" %>
  <%= submit_tag 'Search By Date', name: nil, :class => 'search' %>
</span>
<br><br>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th>Name</th>
    <th>Sub Total</th>
    <th>Tax</th>
    <th>Total Amount</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.name %></td>
      <td><%= number_to_currency order.sub_total %></td>
      <td><%= number_to_currency order.tax %></td>
      <td><%= number_to_currency order.total_amount %></td>
      <td><%= link_to 'Show', order %></td>
      <td><%= link_to 'Edit', edit_order_path(order) %></td>
      <td><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button id="new">New Order</button>'.html_safe, new_order_path %>

<p id="notice"><%= notice %></p>