<p id="notice"><%= notice %></p>
<h3>Menu</h3>

<div class="box">

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price) %>
</p>

<p>
  <strong>Remaining quantity:</strong>
  <%= @product.remaining_quantity %>
</p>

<br>
<%= link_to '<button id="new"> Edit </button>' .html_safe, edit_product_path(@product) %> &nbsp;&nbsp;&nbsp;
<%= link_to '<button id="new"> Back </button>' .html_safe, products_path %>

</div>>