<p id="notice"><%= notice %></p>

<p>
  <strong>Sale Date:</strong>
  <%= @sale.sale_date %>
</p>

<p>
  <strong>Total sales:</strong>
  <%= number_to_currency (@sale.total_sales) %>
</p>

<p>
  <strong>Order:</strong>
  <%= @sale.order.name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @sale.employee.name %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>


<style>
  a:visited {
    color: white;
  }
</style>