<p id="notice"><%= notice %></p>

<h1>Order Products</h1>

<table id="orders">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Product</th>
      <th>Employee</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_products.each do |order_product| %>
      <tr>
        <td><%= order_product.order.name %></td>
        <td><%= order_product.product.name %></td>
        <td><%= order_product.employee.name %></td>
        <td><%= order_product.quantity %></td>
        <td><%= link_to 'Show', order_product %></td>
        <td><%= link_to 'Edit', edit_order_product_path(order_product) %></td>
        <td><%= link_to 'Destroy', order_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order Product', new_order_product_path %>


<style>
  #orders {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  /*border*/
  #orders td, #orders th {
    border: 1px solid #ddd;
    border-color: black;
    padding: 8px;
  }
  /*table row*/
  #orders tr:nth-child(even){background-color: #dddfd4;}
  #orders tr:nth-child(odd){background-color: #fae596;}

  /*hover*/
  #orders tr:hover {background-color: #FFFAFA;}

  /*table header*/
  #orders th {
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left;
    background-color: #708090;
    color: white;
  }
</style>
