<!DOCTYPE html>
<html>
  <head>
    <title>ProjectPractice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div class="one">
      <h1><center>Coffee Ordering System</center></h1>
      <ul><center>
        <button><b><%= link_to "New Order", new_order_path%></b></button>
        <button><b><%= link_to "Review Orders", orders_path%></b></button>
        <button><b><%= link_to "Products", products_path%></b></button>
        <button><b><%= link_to "Order Products", order_products_path%></b></button>
        <button><b><%= link_to "Employees", employees_path%></b></button>
        <button><b><%= link_to "Sales", sales_path%></b></button>

      </center>
      </ul></div>
    <style>
      .one {
        background-color: #FFD700;
        border-style: solid;
        border-width: 5px;
      }

      body {background-color: #87CEFA;}
      button {
        background-color: #FFFACD;
        border: 2px solid #555555;
        color: white;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        font-size: 14px;
      }

      a:link {
        text-decoration:none;
      }


    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
