<!DOCTYPE html>
<html>
<head>
  <title>Coffee_Project</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!--bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
      function changecolor(color){
           document.getElementsByTagName('body')[0].style.
               backgroundColor=color.value;
        }
    </script>

    <div class="one">
      <!--<img src="https://png.pngtree.com/element_origin_min_pic/16/09/23/1257e4b57685460.jpg" align="left" width="100px" height="100" border="2px">-->
      <center><h1>Coffee Ordering System</h1></center>
      <!--<%= image_tag 'coffee_cup.jpg', alt: '4 R.I.L.S' %>-->

    </div>
    <div class="two">
      <ul><center>
        <li><b><%= link_to "New Order", new_order_path%></b></li>
        <li><b><%= link_to "Review Orders", orders_path%></b></li>
        <li><b><%= link_to "Menu", products_path%></b></li>
        <li><b><%= link_to "Order Items", order_items_path%></b></li>
        <li class="home"><b><%= link_to "Home", admin_path %></b></li>
        <% if user_signed_in? %>
            <li class="logout"><b><%= link_to 'Logout', destroy_user_session_path, method: :delete %></b></li>
        <% else %>
            <li class="login"><b><%= link_to 'Login', new_user_session_path %></b></li>
        <% end %>
      </center>
      </ul></div>

    <nav class="logged_in_nav">
      <ul>
        <% if current_user.try(&:manager) %>
            <li><b><%= link_to "Employees", employees_path%></b></li>
            <li><b><%= link_to "Sales", sales_path%></b></li>
            <li><b><%= link_to 'Users', users_path %></b></li>
        <% end %>

      </ul>
    </nav>
    </nav>


  <div class="gallery_slideshow">
    <img class="mySlides" src="http://s1.picswalls.com/wallpapers/2014/07/24/beautiful-coffee-wallpaper_112615430_81.jpg" height="500" width="100%">
    <!--<img class="mySlides" src="https://wallpaperscraft.com/image/saucer_cup_coffee_naptok_smoke_table_grain_84254_3840x2160.jpg" height="500" width="100%">-->
    <img class="mySlides" src="https://images6.alphacoders.com/402/402709.jpg" height="500" width="100%">
    <img class="mySlides" src="https://99px.ru/sstorage/53/2014/01/tmb_93961_1983.jpg" height="500" width="100%">

  </div>

  <script>
      var myIndex = 0;
      carousel();

      function carousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
          }
          myIndex++;
          if (myIndex > x.length) {myIndex = 1}
          x[myIndex-1].style.display = "block";
          setTimeout(carousel, 7000); // Change image every 7 seconds
      }
  </script>


</head>

<body>
<%= yield %>

<br><br><br><br>

</div>
</body>

<footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</footer>
</html>
