<!DOCTYPE html>
<html>
  <head>
    <title>Coffee_Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
      function changecolor(color){
          document.getElementsByTagName('body')[0].style.
              backgroundColor=color.value;
      }
    </script>

    <div class="one">
      <img src="https://png.pngtree.com/element_origin_min_pic/16/09/23/1257e4b57685460.jpg"
           align="left" width="100px" height="100" border="2px">
      <center><h1>Coffee Ordering System</h1></center>
      <!--<%= image_tag 'coffee_cup.jpg', alt: '4 R.I.L.S' %>-->

    </div>
    <div class="two">
      <ul><center>
        <li><b><%= link_to "New Order", new_order_path%></b></li>
        <li><b><%= link_to "Review Orders", orders_path%></b></li>
        <li><b><%= link_to "Menu", products_path%></b></li>
        <li><b><%= link_to "Order Products", order_products_path%></b></li>
        <li class="login"><b><%= link_to 'Login', login_path, method: :create %></b></li>
      </center>
      </ul></div>

    <% if session[:user_id] %>
      <nav class="logged_in_nav">
        <ul>
          <li><b><%= link_to "Employees", employees_path%></b></li>
          <li><b><%= link_to "Sales", sales_path%></b></li>
          <li><b><%= link_to 'Users', users_path %></b></li>
          <li class="home"><b><%= link_to "Home", admin_path %></b></li>
          <li class="logout"><b><%= link_to 'Logout', logout_path, method: :delete %></b></li>
        </ul>
      </nav>
    <% end %>
    </nav>

    <div class="gallery_slideshow">
      <img class="mySlides" src="https://cdn.cnn.com/cnnnext/dam/assets/150814115053-15-coffee-health-super-169.jpg" height="400" width="100%">
      <img class="mySlides" src="https://cdn.pixabay.com/photo/2017/04/25/08/02/coffee-beans-2258839_1280.jpg" height="400" width="100%">
      <img class="mySlides" src="https://cdn.pixabay.com/photo/2013/08/11/19/46/coffee-171653_1280.jpg" height="400" width="100%">
      <img class="mySlides" src="https://cdn.pixabay.com/photo/2017/05/12/08/29/coffee-2306471_1280.jpg" height="400" width="100%">

    </div>

    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) {myIndex = 1}
            x[myIndex-1].style.display = "block";
            setTimeout(carousel, 7000); // Change image every 7 seconds
        }
    </script>



    <style>
      .one {
        background-color: #712A17;
        border-style: solid;
        border-width: 3px;
        border-color: #6A5750;
        color: white;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      }
      .two {
        background-color: #A45330;
        border-color: #6A5750;
        border-style: solid;
        border-width: 3px;
      }

      .login {
        background-color: #856046;
        border-color: #6A5750;
        text-color: white;
      }

      .logged_in_nav {
        background-color: #173e43;
        border-style: solid;
        border-width: 3px;
        border-color:#6A5750;
      }

      .logout {
        background-color: #C0C0C0;
        color: white;
      }

      .home {
        background-color: #FFDEAD;
      }

      .gallery_slideshow {
        opacity: 0.9;
      }

      body {
        background-color: #856046;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      }

      h1 {
        color: white;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      }

      /*---Link---*/

      ul {
        list-style-type: none;
        margin: 0px;
        padding: 0;
        overflow: hidden;
        background-color: #C7A693;

      }

      li {
        display: inline-block;
        float: left;
        list-style-type: square;
      }


      li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover {
        font-weight: bold;
        color: black;
        background-color: #e0e0eb;
        opacity: 0.2;
      }

      a:hover {
        font-weight: bold;
        background-color: #e0e0eb;
      }


      a:link {
        text-decoration:none;
      }



    </style>
  </head>

  <body>
    <%= yield %>

<br><br><br><br>

    </div>
  </body>
</html>
